Report_automation_iyyer
[
    {
        "id": "c384bf16220f45f0",
        "type": "debug",
        "z": "ebb2c3a1eb0931d0",
        "name": "debug 78",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "eef2d31d4298bddc",
        "type": "html-to-pdf",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "format": "A4",
        "zoom": 100,
        "orientation": "Portrait",
        "width": "",
        "height": "",
        "marginTop": 1,
        "marginLeft": 1,
        "marginBottom": 1,
        "marginRight": 1,
        "marginTopUnits": "cm",
        "marginLeftUnits": "cm",
        "marginBottomUnits": "cm",
        "marginRightUnits": "cm",
        "omitBackground": false,
        "printGraphics": true,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "f904022ecf8c6cdb"
            ]
        ]
    },
    {
        "id": "aab21f93a124f112",
        "type": "template",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <style>\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            font-family: Arial;\n        }\n\n        .main {\n            height: 100%;\n            width: 100%;\n            border: 1px solid black;\n            position: fixed;\n            background-color: #E5E4E2;\n        }\n\n        .side {\n            border: 1px solid black;\n            text-align: center;\n            height: 75%;\n            width: 45%;\n            float: right;\n            margin-top: 50px;\n            margin-right: 70px;\n            background-color: white;\n        }\n\n        .block {\n            border: 1px solid black;\n            height: 50%;\n            width: 90%;\n            margin-top: 15px;\n            margin-left: 15px;\n            background-color: #09035E;\n        }\n\n        .hello {\n            position: fixed;\n            height: auto;\n            padding: 10px 10px 10px 10px;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"main\"><img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVMAAACVCAMAAADSU+lbAAABI1BMVEX///8AAAAAQMScnJxNTU3///1oaGj4+Pjo6Oj///w4ODiUlJT///rZ2dn//f6JiYny8vLh4eEyMjIAOMJCQkK0tLTV1dXCwsJ4eHhISEhuhdjIyMinp6eOjo4AQcLv7+9hYWEjIyMaGhpUVFSsrKxwcHB+fn4AQMgPDw9bW1v///WCgoITExO7u7sAQr4sLCwALL0AN8YARLsAMsYAJbwAN7kAIbwALLkAP8wAMcpSd8o/ZMt5lNRBbMN2jdfH0+0AKs2YqeOfrNO3xd7Y4uwjUcSTq9vh7vK3xOdOacmJmd3H1+imut13lMkALrE7XctBYsJOdb+JoM9kgsmps+O5zeJzhNgXRrEAJtBLb8JCYNCVpuZxit7o7/7j9OlJZMLL3+cWAE0ZAAAX00lEQVR4nO1di1vbOLZ3DMIxKG7AgZYSTChQ0wDGeZGEpoWWR5iFlhlaOju7t7f3//8rruS3pSPZSaG0Kb/v2y2DZVk+Ou9zZBTlEXeKw9eDh17CxKFpvnnoJUwa1tqNtw+9hokCQsrRsfnuoZcxHsrzK4ubBIsr89pDryUBpCvvW42Th17GyNBWVje2Cwm8qE2VfvASNMFGGhh9Mtun7K/LlWkGyzvhtSp3jcWrl3OLwhfUZvkbKiujvU11ugBiZ0l+49Yy91pPoHEb/BJni8kBxakN74GVuXn+bgPjM7VdZn+9wq+3Gl6rwe/DYaPKTSuYulAoQiMFWJqRPHRhUXYrdAcwbC1j3HySBK+4tdeR5toON+scP2fEApI3YrEF7OIUMG5bRog0lpYznrn+VHjvPDQeEBFo22vx5Sf0v59tLpWWFrfoj5vs/fioa/7BzQrIVqg8ihnvlMYONzXE5jVulADFjRzP3FgT3L0IjX7GjwM4qjAVXtQqhAciadDo2NX07RidNxoDnZ2Vn3M5vPQ0x1sl8IIVDWjQlJIPEI9D2INvfwkO5sdBGxeys7HPbMP8dkIvekD4sGFeYWbSEj9ntBdPcr5XhLT8g2yez0StVXI/E7Q8yiw4ln84NCoU02mOA8qEqGmLjJu97hHLp5v8nJGWEphcCVKcugeNAI0ZC9C4ibAFTKDBQ1+y4yC1+yK4NuVzV/QWG0seB84m7zeGbbtbRsysW/ykkY4a5c18LCSnhth8PQ9Jq6M9FCDqkmAoOw5Su8F05UAJrsZXVrx3SjH7Sde2MMunL7g5w32C1EImksICmW3ATHBYBe6TYi73rrBO7Q4wZjO6NB+8RWXn5c6rgseiGmNlB6b5BjF8Cvhn0baDtjMLCdmGLqdV/N2QFNCTgPR5YH0TSG2XwtXXwrfYDMlP/plJM/u1bd4ojI0CTHvkgz0b/eWSzgbI5tlBZV6DnwIbOq6LBjLjxHOtBDtVChe96N+9mHoH7VhtXLA0BXReZLxh25mFaGrA+oGhTBqgYcsEo1LLwoFp4YfUbsW/tBoQdzFc9LSvX0sp9+2o23NPWdkHdF60B2O9Xew1QC5iJYukYPyTA2n+F/sNac8LUruBeqgF9pa8xe5mtTpHfFWP24oJQaYev91RkJGaFKDbhmwTcyBimQXxgoUwdsd7aLxqD1B05CMdGkPaLYibKoVXzFvUPEcxQVMDK3/Y5jfE0BSgW2REx1JshYjPQTaXpj0UsW0heLlIou49OD4qMOHGK/E0KYbeF09UKdSYt9j3dEEplkRsKF3b/BfrSVXXFxisRzYUitZ31yMIV10UbhcbaHEQyuxsnC0RuEkpd164tnTADm57cG3Z907pWyytrRWpM+L5LLGNMjC67PaIiRoB28ADk4mgeci5i8eAbD7GIwsFxgMr8i41M7VMKSeDDmgLQyWy5c9YDWcuBNuxFT3JQPo70+5+HYGkYGYxnQaCNW5AACj1uQE8JwGRGmQcMNiqJ3xUqe+QmAza9lD1Vf2RM+GiwxcrFGaCEcTcf1OJiRoBUFKKTX6CvBhIF8RzfMCTTSsgiw3uZcL8CQSIWwOk3cKtmfd9hN3gBqomqABWE5uH6sdqh0+eSgAxzQwzBsw8+ZoNZHNxDplCkAYDdDBkyhK5DWlSKyH80LaXE5No3lt4NKTqZMkjbeQOInR7bJvnuQmqwJlFLvkJLdqnKZh7FWWQPQj8YchVABVmHEvBE4WI9gjiiN1okhXqFu6Fiy76K9lIRQ0D0zaP2KSUDNByuLoaNMh3q6Go/QX3kCRg340VDR+Q7xstLiP3EzEGtO2JgGyDz048SwcNZ7bVLxvMmCczLGrhbmewgoSmU+GKctInxDpIAbgIDO1YxNBgUBxjQTZJgopagSUq0b+v4v9Cw7bdu2aDfYAk0QOhpNQCczvMEYtCakuTUlInggVk2SPjk5X7CW0elHJPSiJlq1psIJ/upkiqKFd9tfGBpSmgUCLXGbKdXJocNLClcD0cpHUTcC6RtoA2M0rNrkMzJRAKP3QtJRaeJzzzlChUrTRFY65Y8BHxpA5Nu3WiM/oU2O1IgKCkFGsu4Lqqp2DA3Ku0KwecSxTLQl5FLbiWmfsJPARo21lJTLkilYRri0iw/9HqtYdMsC9L9IELY70aMBno+xoQ13GqIwnYsIhGQzQNA4rsYpYvz9C2c5JYngrM4faztIFG+KhvqWcKWziRJPpA7ca8F+wGzgnJLa2bgGH8qmg0RNPQcczO/fjCD6VjILkoLz3dW2HjDqNeH3Qanbds7hQQtyh4hF4xFVnOi0ocHjODbM41cSQBthEJUy6Q3FZkMwEjoW3PyPHEwFhpWmr/om6kiQqIW2Q7oUhl90UE8Xp9AQfZXFo3gW7YF46G5LsimYkB5ToDupCXpISopweWdTDUGbsvK+2v51gZCJ8ZQUmWLRGM9YWiD+rCQIwgtbDNBNrUQ4O2fVn4QBY6Ojdtp+llUpIA/LgweBQXdLLg23aIzaV1E5Cxxb4XlIyo+Zcg13WaITSlHbTt4k3kaKpc23bnrcIWToAsd3hppEaQJALfD1IOcBNOgBF9LyiRH9hsSM8/YYPZNXjb5TmeJNDwgKhTrkEasCNR8Dhu3STYFJDNBd1i4gdKelag+YPthKKjPXb+TVi7jdAbe94n6pTr6gF4MUovSAo6UjwVTp2xYMifrQlHg1HaopjcRTY8mQa3fVf4wDRoVe9PtWddK2wCBWCNcZp5kwj5HEzYS5cJSaK4yAqawCUxuRUuk6VlNPNKoWNj2LbsBn/eBPDjxmvmjRAJK8Tmr7gFJAFVWsStqmC04S8eUsyUVgwHLULKJm9vrG4o562mfXDJBvuypNR4zSCxdEMX5QuGaCpMY4FbHjizUHREH83w7wz0wLzHNwgp/zRV1ayzZWhgYVHwOHIzr4eSZOqsBUOvKIy7wBAuWDyUrfYezYRNUN0k78krHQ+PCUmf11k2BXgxeon8XcoJlGRTZzXzQvpUxKdw4mlPfM17dLYrk6s3lgLjd4RNWycGZmwUsNkRVTIfz6OSqDWN0cwL2X1RlRWmjr9nUOzgJ2GzbUSe3lgPCJ3Zqu1qiKWpJCk1RjNvSltCbA51iCeQp0obAGbTIEqDPILg0ZltitIcTxL6Zdu2rdcKZpOn/JxRtJtR0OHxJCXYYHYio5kXMteCo1RwT5WkU6MqJncKuQ9cokHD6TU+c78HeDEKHkdr5t1YNDKnBkquaeRPZAkOGAW7CpmeYJpM4c9LUkXp2JZ6MOR+DTBGFDxC7W4Qtpe3plZ4YzlOMy8YzUIKDuzFiPQEOE24wgzLm9kbG+HkY89RX/OFfcCPC91LcGFLZRZCzwNi81nR4BBg4ykfzhqC/Q7EAIqOokdnCL80xxMDI/xX3+oBQRTkx4WXctRNpFgHbucKPSxAfcPlMw0Br4UDIVMXhbgCFg8hzfHEwLSu79jHvOgDxjMKHiFfJX+2FrbLmQuGQzdG+osirRQGFFCnRlxjkgt/vqSUgZXzhmXbfLMExIuROwTZzpyCQQEmpRZmhfC7iAUV5JQLJjxcNB2OgC7GNSa58Od8PaQ0VdU23ymcPgWmj4JH6IH5s7Wj5179aEFQmtuNOHxFzGYh2URJqQBS4ZfneGLgI1dV1YNTnk8BXgx9TNDnGCFbm/dDCiGCrKW4tLBV3durSjr9YyGSlKk8yD4IkDcphQ9JXGqf1RF3wpw3s1HwCDqA+Uk6cmAbindeD0688swIVxbM5ElK0cLzWle17MY55thUdiQSyvrU8pN05NxrGGGNmWBMhgaQdkhqLZnw5zmwbSCk3DRU0OGXHomECjp5BQOeWo4owhorG5YM08GgONVHLD49nyspRXgT9x2157zmuBT046RJqYzIMomRj+BGscN4Z/gSni8UFKeTBmLhz8jx+EBYuer0VKt1BVwE/Djpm+X6koGPUT+kkOhMEx+/EyNpgiBfKZ3cEvct5DiwrXhZPtVW7a4GdJzzc0bRLmQ7xU02eaaWI1nJG/3DFtPJR0OxGKO1hB+uySWJuu45UuYnNnGqgLwYvRpU0MmdrR1DgJOtdNr6iDennUqoU4Mx50Lhz1U3oQdMCU3dI52nqSwpBaVuc2drx/iQQqqVrjzaGd60EpQmpWRjCjlyPB6M4YFq26rD+/ugHzdSM68EwkO2IjDvDNXoRGDkGooauD5igfBnHdj2gZ53CJ+2zhHApwAvhpe+Nyk1Ck0optkJZJ+TS2GbVYFQUMzlwwRylHVg28fwwLIttT3EvD6VJaUg28m9txgjf0iBL+TlrNzw2UMoKOa0lkD480nigPhRVusvhOrcJdmp/e9MSo38IQUgObOWI2NQAeoq0Dh+GNwKluPVsDHskkjfcW+hq7KkFGQ7c2ZrBVPLAR6XzPr64SyUJgODYn4YKPwZB7Y9YDxoEaOvOuBpSIAXw1fLccJcilGTUiIGKUnyUDOwLwnlC4AaE6idcjTzIqwdWKpq9d+DNJ3iEIn+/JzkYg7wd8shtg3aHmitaosiT3IFmB6SsE3gDfOUodGgQdm0XwYcKRC8b/AzoLT5LKEFKs+qP/ibxymU203iSDU+Qc7pL4e1eYIR9M894a3aI7LfPtUngaY/A3Q0dJ0eCfX/QI8kvRsYWPlESya2e/TQS5kYIHx6QOxTj56IesTdACtvTGr0W1ejfKrjEWLUET46piS1G/Wf00H65YANg376hNAUKpc+Yiyg+nsvKlU72iOb3g0wGtIOKdVqvMPcef0AK5XlALPFuR2pMz01y1WhFyvLCyPk/RkUg2fLP+Hzc8FQaPLEstWuBiWjKRLp8JIyJ//e2xMuAU4zFSPk/si2JDcgrlblK1b8FECXH3vUkTL/S1gWHrK0VCrN7xeqpVKR5sal7RBPOPptFaqjhYmryTLvemGx5GNplL8l85BACnrdp618zkGdPRORxkKQMZ2SF7Z5mr4cJZtKMZfMta/nP4iQAz/AYCASigYGqnXDt52lENO04n3+zOPWai3+2YdP02LN/0iapigzC4VpOuCZ/820Rf8Oyrla8CE1yn+afwP9/epCYXkm2pj1VB3d/wxbbS/+OZiDrmCxFv8cTM6tcueVV/PYe5WvnDQOiIFyae6EOFJZflRM0wBTiRx9TFSPplGeetbw6xPzfvVxPr5jTdHCtrztclym317z2xOjKkKKplH19ilXbp1KNKWQn9e245+jZ1Zph5XH9tWMj4B+BwhrvjEd1VZV91zhq1ApxDRdXSsWiyvUZkwX9orez3EB16PpXmGLjlmbJVRc8/SpVigUi2Vicuj44torQpVSYdkbVCM/LxUq0c/ll4WpWHWmaEp2hY6q0jI9nZDA/8dbDbGedJIlupo1/0ErtAW+UliJxizfL02pRapfHVM3yjYdnJU4jWnqMeU8rTJs+C9cTNjkgKZ+H0qFVhef0bKtlq55zJDJSkF1dYv8vBT8TH/P2qgETbf9hoY9n6ber/x/vNXM+fclVzNP5132a5zemHumKTFPuOw6RO6tHth2lgZM06mnBNURaErHP12ZTtB0xqPp7Er4+7uhaXHPX9l0RMcfQVP6AZk3XsHEds6yg1KYpgE42RfRNNKILE0TmvIuaBqVRH8sTYnN/9ylDVKq6eb4dixM02dTcxSMjRLStFTYpzdMVTia7vsTrc7fDU0rhZd0uh2WphVfD2zeE00N9JWS1FJt848cVSiJPk1CTtOk3kzTNNG5chc0jejI0HSr8IL+qYDde7NR117WlFahRBFUAndK0y3P7gtpmvD5t2Of3yD/4f3wVERT7741n089fixSu5+kadSpcE/69EOfeqa22niLc1T2IJpuFfa9Q2AvYg9aTtNiYdu7YZdsRpKm88HvFyoapen6ftS/mmhTKZE1eKP26TMgmq57c9BWrpp/Zm2hUGNoqmiGYdyTPsXo9sCi2tTudXJ1p24HjUqr/nLmvVbo5dCxjoK+l7TVay/o89ynNN2i7BPaqDAds0h51vcWqK8a/Z62rO+kTq1EDWZL/l8MpKA5quBTtJGejn1+71RmsDL6iNmQpnHz9n3QFOlo+LHleJLf/ZwrE60F2dXwLyH7/2geUsPIf2nBEWitHN0YDtLiO6KJjPREzN9a1rT0Nfbu6J85srfxariRBv23uOOZwtp98KmBr1XHpnzauJbH+b8OVvMcIAp0Sf6j9/lgYB3Vv3R6Kq2YWMRA3fH8D4XSXp6e0CUaC+zd9Z+PN7CBiWfqGSi7dYMmop3ngYH1Ov2MjENJ2vtbqT/S9C4wdEk82iOCb7Uv2W+cPmJ0IEPXznq+s2+1Bg+9nEmAger6ny3bp2nPwTkiqEdkwNDxoWn5JFXdI+4vF/+aQFg3kA4Ceee97w86QhgNgiif2PwB/4mOXxQI1w0YKKN2+b0P1gmb3riB4KtWjqzpLwLCpxgJgO9XFo26fvNvJ5B869+nk8KlxD/UDp9/+fTlOYAvJ0jR74esBqJf4L1pN3u2Vy6x2lcTw6a0qH51oDZMEAcnJMi5p+cSNr1pq6HFNw+BM5C/LrAyMHuOyoMe97yo3xdR68qHkKTE21c1/JOexxkHGOno2rYBmqpELg/e34/p1w08aEcP9VIn9+pj/HDgr6afFgLQ/kDbbO8WBrV/h25AT7J37lVGi8SvB6N+1LYskFUd1f2C7/pIDQmXtNdm8Dxbtcy3E6VMPZAXen8AcqnaazY619BXXr4Pw7MoerLU1jddvy+t/WDQifs9aIHC79iqbTZPFcO4K7rS2OzWtW1fLqh4NMsoqz3q1wT6Zqqg9Ktqs9G9uDP3nzCkfnPgJB7VOr2bmX86YENr2j2QpLQtzH17V74/1rV/+lbku9HTevcUVjw4DIyHHc8IA0Sl3yA9O/Wk9nscHgMRBYJuOw01NoiWezVhTlQap31HIP2UsO55nRjs70hwIoMwKR50U9LQBT4VPUnQL4+FJKV67z9DYp7HpinS9bp+2WzZyY3rDya7/EQk87YtJimJyQ9uvoMAyMDDwbGjWomYzf2kTJxjmgZhwYu2IJzy1WqreavQPzwyWhCAMFZwHetXnQbRoxFJLds9JDHqBCtTH/pFFzb+Ppye++aUmJTRPHQS3BKq3p71mUSNeTjx9KTQ8UVbYqeoA9A+PEX10XSAXkdHf7YdJy0D7iHi/nbZJMLQESWqQP799LHZ/uvSG6lnped0rwRDGPXi2u2pXl9EIPWqbfU/8X9rZ2Jx6wpVakCSxvH1BUaYnhGTUhXheh2j8vsmMyNtjOq+/WEv9BMAX7p2T2yqaK66aXVbHy4VmrKT0ZR6XkfPuy2bSc8Shm2/m2wnKg3ig546pkj8fTaj2dZG2xlcyvUhPnrb6UIT9NxzPPkGP43ytWk7cO4/yW4N1zz8fKrRP+auY++4PXGb6A+EP8uX//2j65oQl9u97smEhvgSYOOTK5P+GGanb17/z/nJ5VetTmvaivL16+XVu+d/u/0OvCmW3WieTnKILwCqKzeCJDVHIOIlOJ1W2+1+7DiO0/nYbbuNRqNHO/WgXbGd/psy98dKfwPQ455HrYblNOQktel3X8n/e0V68q9NYVn0f1YPKMbYvaZ9TNOGEx6RCoCU/71u9Zq5FEBuNNWWe/t70pOCJqA+HPey7NRoaDTOhiMGthMF4uygS8ekhuaOCGub7g3G35EunAQYWP90oPasfC6ADGQK2279fVn/3bxSFkg36splsyHLVOVlUafXc2+IF/sbC74PjOhBm5u2+d3CbzsH/5zSUOD3FnwKhGgP9dfDtldStcZRAfRO2278fUET2eg39PVBGPX60esucT5lOQAhLIfEsJ3P6Hd088Xw0voXr93M+B9mU7v78Z1GtMgjTRNAOqLp59tvxyYt0DlwsxrIoLQZqvPek/pHRQrAQP/3vNs3rV5ON8BuqFarfX31+4ZN2dCxrpTfn7WFbVUco7qNwSltjHzolf/MICpAQaf/ctwGkBZlmdTtPj/Rqd6YkHNk9wniDZ2ev+72KV1pBioOXS3VS0vZZqPfPhvcImVijpD9GGiX7w+drtsyzY7p+1iWatqmSdiz8+eHk6FX+3t0RnOCfgMOe/V99PXy4t3g+T9nXonZOntz+Pbd58uvlJAIB0n/e8D/A9ZeDwT394NkAAAAAElFTkSuQmCC\" class=\"hello\" width=\"300\" height=\"150\" >\n        <div class=\"side\">\n            <div class=\"block\"></div>\n            <br /><br /><br /><br />\n            <h1 style=\"color:black;\">Iyyermalai_50MW</h1>\n            <br /><br /><br />\n            <h2 style=\"color:black;\">Portal User Manual</h2>\n            <br />\n            <hr style=\"width:90%;height:2px;color:darkblue;background-color:#09035E;margin-left: 15px\">\n            <br /><br /><br /><br />\n            <hr style=\"width:90%;height:15px;color:darkblue;background-color:#09035E;margin-left: 15px\">\n            <br />\n            <h4 style=\"float: right;margin-right: 15px;color:black;\">Poornima</h4>\n            <h4 style=\"float: left;margin-left:15px;color:black;\">\n                <script>\n                    document.write(new Date().toLocaleDateString()); \n                </script>\n            </h4>\n        </div>\n    </div>\n</body>\n\n</html>",
        "output": "str",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "eef2d31d4298bddc"
            ]
        ]
    },
    {
        "id": "f904022ecf8c6cdb",
        "type": "file",
        "z": "ebb2c3a1eb0931d0",
        "name": "write",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/Frontpage.pdf",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "0d0d3a1497f5f6d7"
            ]
        ]
    },
    {
        "id": "f508369ea4109fd7",
        "type": "comment",
        "z": "ebb2c3a1eb0931d0",
        "name": "Front page",
        "info": "",
        "x": 80,
        "y": 200,
        "wires": []
    },
    {
        "id": "c0d53e4bfd8257a5",
        "type": "inject",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp",
        "payloadType": "str",
        "x": 80,
        "y": 580,
        "wires": [
            [
                "75f2b5d99d358883",
                "5724425ecd5e191e",
                "8d26d782395a10c7",
                "0b22b89925da5727",
                "223b5936dcd8b953",
                "03dccfe80e8a93c3",
                "8850689ef3b3938d",
                "1600748ec8b84341",
                "e016608d85e33b8a",
                "305540748246c0e5",
                "a5ec2fa6699ab191",
                "17f37af577c123bf",
                "aab21f93a124f112"
            ]
        ]
    },
    {
        "id": "182911370c2c311f",
        "type": "comment",
        "z": "ebb2c3a1eb0931d0",
        "name": "Content",
        "info": "",
        "x": 70,
        "y": 320,
        "wires": []
    },
    {
        "id": "e4d9d5f14ef2cc84",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "em",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/em.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "9bc88b4830d81e93"
            ]
        ]
    },
    {
        "id": "ba42459436cec273",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "inv",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/inv.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "34aef455c92016a4"
            ]
        ]
    },
    {
        "id": "9bc88b4830d81e93",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "ac7e98a344996d3f"
            ]
        ]
    },
    {
        "id": "34aef455c92016a4",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 420,
        "wires": [
            [
                "a4a0a9162da1bf97"
            ]
        ]
    },
    {
        "id": "0daf2fd029273e19",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "SLD",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/sld.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "2d7da8c2cdfefed3"
            ]
        ]
    },
    {
        "id": "6e5dc69a02f79774",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "4mw",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/pv4mw.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "ab80fd915ceb6c88"
            ]
        ]
    },
    {
        "id": "2d7da8c2cdfefed3",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "a6f62c8b8ff482aa"
            ]
        ]
    },
    {
        "id": "ab80fd915ceb6c88",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "c8e6e68a6ea42c46"
            ]
        ]
    },
    {
        "id": "75f2b5d99d358883",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/PK0CaX_nz/2-energy-meter-overview?orgId=123\" Iyyermalai:Iyyermalai1@ output/em.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "em",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "e4d9d5f14ef2cc84"
            ],
            [],
            []
        ]
    },
    {
        "id": "5724425ecd5e191e",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/ZuNzv6wnz/3-inverter-overview?orgId=123\" Iyyermalai:Iyyermalai1@ output/inv.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "inv",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "ba42459436cec273"
            ],
            [],
            []
        ]
    },
    {
        "id": "8d26d782395a10c7",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/s7pAbQUWz/4-sld?orgId=123\" Iyyermalai:Iyyermalai1@ output/sld.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "SLD",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "0daf2fd029273e19"
            ],
            [],
            []
        ]
    },
    {
        "id": "0b22b89925da5727",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/0QPXOd87z/5a-4mw-pv-block?orgId=123\" Iyyermalai:Iyyermalai1@ output/pv4mw.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "4MW pv block",
        "x": 260,
        "y": 560,
        "wires": [
            [
                "6e5dc69a02f79774"
            ],
            [],
            []
        ]
    },
    {
        "id": "0b62486c30e38a74",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "2mw",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/pv2mw.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 600,
        "wires": [
            [
                "e59fced1368dec9c"
            ]
        ]
    },
    {
        "id": "e59fced1368dec9c",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "d51badac4241d99b"
            ]
        ]
    },
    {
        "id": "223b5936dcd8b953",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/wawiE8F4z/5b-2mw-pv-block?orgId=123\" Iyyermalai:Iyyermalai1@ output/pv2mw.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "2MW pv block",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "0b62486c30e38a74"
            ],
            [],
            []
        ]
    },
    {
        "id": "87442f5221c92aa0",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "reports",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/reports.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 660,
        "wires": [
            [
                "ba34b329136c4cb6"
            ]
        ]
    },
    {
        "id": "ba34b329136c4cb6",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 660,
        "wires": [
            [
                "32be4875d0b23ff3"
            ]
        ]
    },
    {
        "id": "03dccfe80e8a93c3",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/2T_AII3Mk/6-reports?orgId=123\" Iyyermalai:Iyyermalai1@ output/reports.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "reports",
        "x": 240,
        "y": 680,
        "wires": [
            [
                "87442f5221c92aa0"
            ],
            [],
            []
        ]
    },
    {
        "id": "326b11fbbe3702f7",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "trends",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/trends.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "aa6b549caadbc27d"
            ]
        ]
    },
    {
        "id": "aa6b549caadbc27d",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 720,
        "wires": [
            [
                "e8b9196f4d21953c"
            ]
        ]
    },
    {
        "id": "8850689ef3b3938d",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/JPrn080Zz/7-trends?orgId=123\" Iyyermalai:Iyyermalai1@ output/trends.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "trends",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "326b11fbbe3702f7"
            ],
            [],
            []
        ]
    },
    {
        "id": "1eb5443f8519b24f",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "ws",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/ws.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 780,
        "wires": [
            [
                "3693618e0dcd764b"
            ]
        ]
    },
    {
        "id": "3693618e0dcd764b",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "3bb46e2f4549233b"
            ]
        ]
    },
    {
        "id": "1600748ec8b84341",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/-OHJXb0Wz/8-weather-station?orgId=123\" Iyyermalai:Iyyermalai1@ output/ws.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ws",
        "x": 230,
        "y": 800,
        "wires": [
            [
                "1eb5443f8519b24f"
            ],
            [],
            []
        ]
    },
    {
        "id": "ad02e88995e20eda",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "systemview",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/systemview.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 840,
        "wires": [
            [
                "15a680acb0d7a377"
            ]
        ]
    },
    {
        "id": "15a680acb0d7a377",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 840,
        "wires": [
            [
                "6620d8e41fc02060"
            ]
        ]
    },
    {
        "id": "e016608d85e33b8a",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/YHodbNuGk/9-system-view?orgId=123\" Iyyermalai:Iyyermalai1@ output/systemview.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "systemview",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "ad02e88995e20eda"
            ],
            [],
            []
        ]
    },
    {
        "id": "3feaa4e10f16be48",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "invheatmap",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/invheatmap.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 900,
        "wires": [
            [
                "e761e671c3b97dc1"
            ]
        ]
    },
    {
        "id": "e761e671c3b97dc1",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 900,
        "wires": [
            [
                "a2c1b0a6c87f3de1"
            ]
        ]
    },
    {
        "id": "305540748246c0e5",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/216rfYvVz/10-inverter-heatmap?orgId=123\" Iyyermalai:Iyyermalai1@ output/invheatmap.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "inv heatmap",
        "x": 250,
        "y": 920,
        "wires": [
            [
                "3feaa4e10f16be48"
            ],
            [],
            []
        ]
    },
    {
        "id": "e25d8783e354782c",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "plantoverview",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/plantoverview.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "7d7853bbee91358c"
            ]
        ]
    },
    {
        "id": "7d7853bbee91358c",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "eb584d8e24f7bd66"
            ]
        ]
    },
    {
        "id": "17f37af577c123bf",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/PMgYtLjMz/1-plant-overview?orgId=123\" Iyyermalai:Iyyermalai1@ output/plantoverview.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "plantoverview",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "e25d8783e354782c"
            ],
            [],
            []
        ]
    },
    {
        "id": "e922a7fab1be4cd5",
        "type": "file",
        "z": "ebb2c3a1eb0931d0",
        "name": "output in PDF",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/iyyermalai.pdf",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1400,
        "y": 380,
        "wires": [
            [
                "0d0d3a1497f5f6d7"
            ]
        ]
    },
    {
        "id": "eb584d8e24f7bd66",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "plantoverview",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "a4a0a9162da1bf97",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "inv",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "c1a165702cd9ed30",
        "type": "function",
        "z": "ebb2c3a1eb0931d0",
        "name": "combine",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"plantoverview\":\n        context.data.plantoverview = msg.payload;\n        msg = null;\n        break;\n    case \"em\":\n        context.data.em = msg.payload;\n        msg = null;\n        break;\n    case \"inv\":\n        context.data.inv = msg.payload;\n        msg = null;\n        break;\n    case \"sld\":\n        context.data.sld = msg.payload;\n        msg = null;\n        break;\n    case \"pv4mw\":\n        context.data.pv4mw = msg.payload;\n        msg = null;\n        break;\n    case \"pv2mw\":\n        context.data.pv2mw = msg.payload;\n        msg = null;\n        break;\n    case \"reports\":\n        context.data.reports = msg.payload;\n        msg = null;\n        break;\n    case \"trends\":\n        context.data.trends = msg.payload;\n        msg = null;\n        break;\n    case \"ws\":\n        context.data.ws = msg.payload;\n        msg = null;\n        break;\n    case \"systemview\":\n        context.data.systemview = msg.payload;\n        msg = null;\n        break;\n    case \"invheatmap\":\n        context.data.invheatmap = msg.payload;\n        msg = null;\n        break;\n    case \"idcheatmap\":\n        context.data.idcheatmap = msg.payload;\n        msg = null;\n        break;\n}\nif (context.data.plantoverview != null && context.data.em != null && context.data.inv != null && context.data.sld != null && context.data.pv4mw != null && context.data.pv2mw != null && context.data.reports != null && context.data.trends != null && context.data.ws != null && context.data.systemview != null && context.data.invheatmap != null && context.data.idcheatmap != null)\n{\n    var data_combine = {\n        \"plantoverview\": context.data.plantoverview,\n        \"em\": context.data.em,\n        \"inv\": context.data.inv,\n        \"sld\": context.data.sld,\n        \"pv4mw\": context.data.pv4mw,\n        \"pv2mw\": context.data.pv2mw,\n        \"reports\": context.data.reports,\n        \"trends\": context.data.trends,\n        \"ws\": context.data.ws,\n        \"systemview\": context.data.systemview,\n        \"invheatmap\": context.data.invheatmap,\n        \"idcheatmap\": context.data.idcheatmap,\n    }\n    context.data = null\n    return { payload: data_combine };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 380,
        "wires": [
            [
                "6806ea0f6a486286"
            ]
        ]
    },
    {
        "id": "a6f62c8b8ff482aa",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sld",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "c8e6e68a6ea42c46",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pv4mw",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 540,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "ac7e98a344996d3f",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "em",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "d08771bac9b6ad95",
        "type": "html-to-pdf",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "format": "A4",
        "zoom": 100,
        "orientation": "Portrait",
        "width": "",
        "height": "",
        "marginTop": 1,
        "marginLeft": 1,
        "marginBottom": 1,
        "marginRight": 1,
        "marginTopUnits": "cm",
        "marginLeftUnits": "cm",
        "marginBottomUnits": "cm",
        "marginRightUnits": "cm",
        "omitBackground": false,
        "printGraphics": true,
        "x": 1230,
        "y": 380,
        "wires": [
            [
                "e922a7fab1be4cd5"
            ]
        ]
    },
    {
        "id": "6806ea0f6a486286",
        "type": "template",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <style type=\"text/css\">\n        @page {\n            size: A4;\n            margin: 0;\n        }\n\n        body {\n            margin: 0;\n        }\n    </style>\n    <style>\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            font-family: Arial;\n        }\n\n        .main {\n            height: 100%;\n            width: 100%;\n        }\n\n        .header {\n            height: 10%;\n            width: 100%;\n            border: 1px solid black;\n            position: fixed;\n        }\n\n        .content {\n            width: 100%;\n            text-align: left;\n            height: 1500px;\n            padding-top: 200px;\n            padding-left: 50px;\n            padding-right: 50px;\n        }\n\n        .date {\n            height: 50%;\n            width: 50%;\n            border: 1px solid black;\n            text-align: center;\n            padding: 10px 10px 10px 10px;\n        }\n\n        .version {\n            height: 50%;\n            width: 50%;\n            border: 1px solid black;\n            text-align: center;\n            padding: 10px 10px 10px 10px;\n        }\n\n        .left {\n            float: left;\n            height: 100%;\n            width: 40%;\n            text-align: center;\n        }\n\n        .logo {\n            float: right;\n            padding: 5px 5px 5px 5px;\n        }\n    </style>\n\n</head>\n\n<body>\n    <script type=\"text/javascript\">\n        window.onload = addPageNumbers;\n            \n                      function addPageNumbers() {\n                        var totalPages = Math.ceil(document.body.scrollHeight / 1123);  //842px A4 pageheight for 72dpi, 1123px A4 pageheight for 96dpi, \n                        for (var i = 1; i <= 9; i++) {\n                          var pageNumberDiv = document.createElement(\"div\");\n                          var pageNumber = document.createTextNode(\"Page \" + i + \" of \" + 9);\n                          pageNumberDiv.style.position = \"absolute\";\n                          pageNumberDiv.style.top = \"calc((\" + i + \" * (297mm - 0.5px)) - 40px)\"; //297mm A4 pageheight; 0,5px unknown needed necessary correction value; additional wanted 40px margin from bottom(own element height included)\n                          pageNumberDiv.style.height = \"16px\";\n                          pageNumberDiv.appendChild(pageNumber);\n                          document.body.insertBefore(pageNumberDiv, document.getElementById(\"content\"));\n                          pageNumberDiv.style.left = \"calc(100% - (\" + pageNumberDiv.offsetWidth + \"px + 20px))\";\n                        }\n                      }\n    </script>\n    <div class=\"main\">\n        <div class=\"header\">\n            <div class=\"logo\">\n                <h3><img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVMAAACVCAMAAADSU+lbAAABI1BMVEX///8AAAAAQMScnJxNTU3///1oaGj4+Pjo6Oj///w4ODiUlJT///rZ2dn//f6JiYny8vLh4eEyMjIAOMJCQkK0tLTV1dXCwsJ4eHhISEhuhdjIyMinp6eOjo4AQcLv7+9hYWEjIyMaGhpUVFSsrKxwcHB+fn4AQMgPDw9bW1v///WCgoITExO7u7sAQr4sLCwALL0AN8YARLsAMsYAJbwAN7kAIbwALLkAP8wAMcpSd8o/ZMt5lNRBbMN2jdfH0+0AKs2YqeOfrNO3xd7Y4uwjUcSTq9vh7vK3xOdOacmJmd3H1+imut13lMkALrE7XctBYsJOdb+JoM9kgsmps+O5zeJzhNgXRrEAJtBLb8JCYNCVpuZxit7o7/7j9OlJZMLL3+cWAE0ZAAAX00lEQVR4nO1di1vbOLZ3DMIxKG7AgZYSTChQ0wDGeZGEpoWWR5iFlhlaOju7t7f3//8rruS3pSPZSaG0Kb/v2y2DZVk+Ou9zZBTlEXeKw9eDh17CxKFpvnnoJUwa1tqNtw+9hokCQsrRsfnuoZcxHsrzK4ubBIsr89pDryUBpCvvW42Th17GyNBWVje2Cwm8qE2VfvASNMFGGhh9Mtun7K/LlWkGyzvhtSp3jcWrl3OLwhfUZvkbKiujvU11ugBiZ0l+49Yy91pPoHEb/BJni8kBxakN74GVuXn+bgPjM7VdZn+9wq+3Gl6rwe/DYaPKTSuYulAoQiMFWJqRPHRhUXYrdAcwbC1j3HySBK+4tdeR5toON+scP2fEApI3YrEF7OIUMG5bRog0lpYznrn+VHjvPDQeEBFo22vx5Sf0v59tLpWWFrfoj5vs/fioa/7BzQrIVqg8ihnvlMYONzXE5jVulADFjRzP3FgT3L0IjX7GjwM4qjAVXtQqhAciadDo2NX07RidNxoDnZ2Vn3M5vPQ0x1sl8IIVDWjQlJIPEI9D2INvfwkO5sdBGxeys7HPbMP8dkIvekD4sGFeYWbSEj9ntBdPcr5XhLT8g2yez0StVXI/E7Q8yiw4ln84NCoU02mOA8qEqGmLjJu97hHLp5v8nJGWEphcCVKcugeNAI0ZC9C4ibAFTKDBQ1+y4yC1+yK4NuVzV/QWG0seB84m7zeGbbtbRsysW/ykkY4a5c18LCSnhth8PQ9Jq6M9FCDqkmAoOw5Su8F05UAJrsZXVrx3SjH7Sde2MMunL7g5w32C1EImksICmW3ATHBYBe6TYi73rrBO7Q4wZjO6NB+8RWXn5c6rgseiGmNlB6b5BjF8Cvhn0baDtjMLCdmGLqdV/N2QFNCTgPR5YH0TSG2XwtXXwrfYDMlP/plJM/u1bd4ojI0CTHvkgz0b/eWSzgbI5tlBZV6DnwIbOq6LBjLjxHOtBDtVChe96N+9mHoH7VhtXLA0BXReZLxh25mFaGrA+oGhTBqgYcsEo1LLwoFp4YfUbsW/tBoQdzFc9LSvX0sp9+2o23NPWdkHdF60B2O9Xew1QC5iJYukYPyTA2n+F/sNac8LUruBeqgF9pa8xe5mtTpHfFWP24oJQaYev91RkJGaFKDbhmwTcyBimQXxgoUwdsd7aLxqD1B05CMdGkPaLYibKoVXzFvUPEcxQVMDK3/Y5jfE0BSgW2REx1JshYjPQTaXpj0UsW0heLlIou49OD4qMOHGK/E0KYbeF09UKdSYt9j3dEEplkRsKF3b/BfrSVXXFxisRzYUitZ31yMIV10UbhcbaHEQyuxsnC0RuEkpd164tnTADm57cG3Z907pWyytrRWpM+L5LLGNMjC67PaIiRoB28ADk4mgeci5i8eAbD7GIwsFxgMr8i41M7VMKSeDDmgLQyWy5c9YDWcuBNuxFT3JQPo70+5+HYGkYGYxnQaCNW5AACj1uQE8JwGRGmQcMNiqJ3xUqe+QmAza9lD1Vf2RM+GiwxcrFGaCEcTcf1OJiRoBUFKKTX6CvBhIF8RzfMCTTSsgiw3uZcL8CQSIWwOk3cKtmfd9hN3gBqomqABWE5uH6sdqh0+eSgAxzQwzBsw8+ZoNZHNxDplCkAYDdDBkyhK5DWlSKyH80LaXE5No3lt4NKTqZMkjbeQOInR7bJvnuQmqwJlFLvkJLdqnKZh7FWWQPQj8YchVABVmHEvBE4WI9gjiiN1okhXqFu6Fiy76K9lIRQ0D0zaP2KSUDNByuLoaNMh3q6Go/QX3kCRg340VDR+Q7xstLiP3EzEGtO2JgGyDz048SwcNZ7bVLxvMmCczLGrhbmewgoSmU+GKctInxDpIAbgIDO1YxNBgUBxjQTZJgopagSUq0b+v4v9Cw7bdu2aDfYAk0QOhpNQCczvMEYtCakuTUlInggVk2SPjk5X7CW0elHJPSiJlq1psIJ/upkiqKFd9tfGBpSmgUCLXGbKdXJocNLClcD0cpHUTcC6RtoA2M0rNrkMzJRAKP3QtJRaeJzzzlChUrTRFY65Y8BHxpA5Nu3WiM/oU2O1IgKCkFGsu4Lqqp2DA3Ku0KwecSxTLQl5FLbiWmfsJPARo21lJTLkilYRri0iw/9HqtYdMsC9L9IELY70aMBno+xoQ13GqIwnYsIhGQzQNA4rsYpYvz9C2c5JYngrM4faztIFG+KhvqWcKWziRJPpA7ca8F+wGzgnJLa2bgGH8qmg0RNPQcczO/fjCD6VjILkoLz3dW2HjDqNeH3Qanbds7hQQtyh4hF4xFVnOi0ocHjODbM41cSQBthEJUy6Q3FZkMwEjoW3PyPHEwFhpWmr/om6kiQqIW2Q7oUhl90UE8Xp9AQfZXFo3gW7YF46G5LsimYkB5ToDupCXpISopweWdTDUGbsvK+2v51gZCJ8ZQUmWLRGM9YWiD+rCQIwgtbDNBNrUQ4O2fVn4QBY6Ojdtp+llUpIA/LgweBQXdLLg23aIzaV1E5Cxxb4XlIyo+Zcg13WaITSlHbTt4k3kaKpc23bnrcIWToAsd3hppEaQJALfD1IOcBNOgBF9LyiRH9hsSM8/YYPZNXjb5TmeJNDwgKhTrkEasCNR8Dhu3STYFJDNBd1i4gdKelag+YPthKKjPXb+TVi7jdAbe94n6pTr6gF4MUovSAo6UjwVTp2xYMifrQlHg1HaopjcRTY8mQa3fVf4wDRoVe9PtWddK2wCBWCNcZp5kwj5HEzYS5cJSaK4yAqawCUxuRUuk6VlNPNKoWNj2LbsBn/eBPDjxmvmjRAJK8Tmr7gFJAFVWsStqmC04S8eUsyUVgwHLULKJm9vrG4o562mfXDJBvuypNR4zSCxdEMX5QuGaCpMY4FbHjizUHREH83w7wz0wLzHNwgp/zRV1ayzZWhgYVHwOHIzr4eSZOqsBUOvKIy7wBAuWDyUrfYezYRNUN0k78krHQ+PCUmf11k2BXgxeon8XcoJlGRTZzXzQvpUxKdw4mlPfM17dLYrk6s3lgLjd4RNWycGZmwUsNkRVTIfz6OSqDWN0cwL2X1RlRWmjr9nUOzgJ2GzbUSe3lgPCJ3Zqu1qiKWpJCk1RjNvSltCbA51iCeQp0obAGbTIEqDPILg0ZltitIcTxL6Zdu2rdcKZpOn/JxRtJtR0OHxJCXYYHYio5kXMteCo1RwT5WkU6MqJncKuQ9cokHD6TU+c78HeDEKHkdr5t1YNDKnBkquaeRPZAkOGAW7CpmeYJpM4c9LUkXp2JZ6MOR+DTBGFDxC7W4Qtpe3plZ4YzlOMy8YzUIKDuzFiPQEOE24wgzLm9kbG+HkY89RX/OFfcCPC91LcGFLZRZCzwNi81nR4BBg4ykfzhqC/Q7EAIqOokdnCL80xxMDI/xX3+oBQRTkx4WXctRNpFgHbucKPSxAfcPlMw0Br4UDIVMXhbgCFg8hzfHEwLSu79jHvOgDxjMKHiFfJX+2FrbLmQuGQzdG+osirRQGFFCnRlxjkgt/vqSUgZXzhmXbfLMExIuROwTZzpyCQQEmpRZmhfC7iAUV5JQLJjxcNB2OgC7GNSa58Od8PaQ0VdU23ymcPgWmj4JH6IH5s7Wj5179aEFQmtuNOHxFzGYh2URJqQBS4ZfneGLgI1dV1YNTnk8BXgx9TNDnGCFbm/dDCiGCrKW4tLBV3durSjr9YyGSlKk8yD4IkDcphQ9JXGqf1RF3wpw3s1HwCDqA+Uk6cmAbindeD0688swIVxbM5ElK0cLzWle17MY55thUdiQSyvrU8pN05NxrGGGNmWBMhgaQdkhqLZnw5zmwbSCk3DRU0OGXHomECjp5BQOeWo4owhorG5YM08GgONVHLD49nyspRXgT9x2157zmuBT046RJqYzIMomRj+BGscN4Z/gSni8UFKeTBmLhz8jx+EBYuer0VKt1BVwE/Djpm+X6koGPUT+kkOhMEx+/EyNpgiBfKZ3cEvct5DiwrXhZPtVW7a4GdJzzc0bRLmQ7xU02eaaWI1nJG/3DFtPJR0OxGKO1hB+uySWJuu45UuYnNnGqgLwYvRpU0MmdrR1DgJOtdNr6iDennUqoU4Mx50Lhz1U3oQdMCU3dI52nqSwpBaVuc2drx/iQQqqVrjzaGd60EpQmpWRjCjlyPB6M4YFq26rD+/ugHzdSM68EwkO2IjDvDNXoRGDkGooauD5igfBnHdj2gZ53CJ+2zhHApwAvhpe+Nyk1Ck0optkJZJ+TS2GbVYFQUMzlwwRylHVg28fwwLIttT3EvD6VJaUg28m9txgjf0iBL+TlrNzw2UMoKOa0lkD480nigPhRVusvhOrcJdmp/e9MSo38IQUgObOWI2NQAeoq0Dh+GNwKluPVsDHskkjfcW+hq7KkFGQ7c2ZrBVPLAR6XzPr64SyUJgODYn4YKPwZB7Y9YDxoEaOvOuBpSIAXw1fLccJcilGTUiIGKUnyUDOwLwnlC4AaE6idcjTzIqwdWKpq9d+DNJ3iEIn+/JzkYg7wd8shtg3aHmitaosiT3IFmB6SsE3gDfOUodGgQdm0XwYcKRC8b/AzoLT5LKEFKs+qP/ibxymU203iSDU+Qc7pL4e1eYIR9M894a3aI7LfPtUngaY/A3Q0dJ0eCfX/QI8kvRsYWPlESya2e/TQS5kYIHx6QOxTj56IesTdACtvTGr0W1ejfKrjEWLUET46piS1G/Wf00H65YANg376hNAUKpc+Yiyg+nsvKlU72iOb3g0wGtIOKdVqvMPcef0AK5XlALPFuR2pMz01y1WhFyvLCyPk/RkUg2fLP+Hzc8FQaPLEstWuBiWjKRLp8JIyJ//e2xMuAU4zFSPk/si2JDcgrlblK1b8FECXH3vUkTL/S1gWHrK0VCrN7xeqpVKR5sal7RBPOPptFaqjhYmryTLvemGx5GNplL8l85BACnrdp618zkGdPRORxkKQMZ2SF7Z5mr4cJZtKMZfMta/nP4iQAz/AYCASigYGqnXDt52lENO04n3+zOPWai3+2YdP02LN/0iapigzC4VpOuCZ/820Rf8Oyrla8CE1yn+afwP9/epCYXkm2pj1VB3d/wxbbS/+OZiDrmCxFv8cTM6tcueVV/PYe5WvnDQOiIFyae6EOFJZflRM0wBTiRx9TFSPplGeetbw6xPzfvVxPr5jTdHCtrztclym317z2xOjKkKKplH19ilXbp1KNKWQn9e245+jZ1Zph5XH9tWMj4B+BwhrvjEd1VZV91zhq1ApxDRdXSsWiyvUZkwX9orez3EB16PpXmGLjlmbJVRc8/SpVigUi2Vicuj44torQpVSYdkbVCM/LxUq0c/ll4WpWHWmaEp2hY6q0jI9nZDA/8dbDbGedJIlupo1/0ErtAW+UliJxizfL02pRapfHVM3yjYdnJU4jWnqMeU8rTJs+C9cTNjkgKZ+H0qFVhef0bKtlq55zJDJSkF1dYv8vBT8TH/P2qgETbf9hoY9n6ber/x/vNXM+fclVzNP5132a5zemHumKTFPuOw6RO6tHth2lgZM06mnBNURaErHP12ZTtB0xqPp7Er4+7uhaXHPX9l0RMcfQVP6AZk3XsHEds6yg1KYpgE42RfRNNKILE0TmvIuaBqVRH8sTYnN/9ylDVKq6eb4dixM02dTcxSMjRLStFTYpzdMVTia7vsTrc7fDU0rhZd0uh2WphVfD2zeE00N9JWS1FJt848cVSiJPk1CTtOk3kzTNNG5chc0jejI0HSr8IL+qYDde7NR117WlFahRBFUAndK0y3P7gtpmvD5t2Of3yD/4f3wVERT7741n089fixSu5+kadSpcE/69EOfeqa22niLc1T2IJpuFfa9Q2AvYg9aTtNiYdu7YZdsRpKm88HvFyoapen6ftS/mmhTKZE1eKP26TMgmq57c9BWrpp/Zm2hUGNoqmiGYdyTPsXo9sCi2tTudXJ1p24HjUqr/nLmvVbo5dCxjoK+l7TVay/o89ynNN2i7BPaqDAds0h51vcWqK8a/Z62rO+kTq1EDWZL/l8MpKA5quBTtJGejn1+71RmsDL6iNmQpnHz9n3QFOlo+LHleJLf/ZwrE60F2dXwLyH7/2geUsPIf2nBEWitHN0YDtLiO6KJjPREzN9a1rT0Nfbu6J85srfxariRBv23uOOZwtp98KmBr1XHpnzauJbH+b8OVvMcIAp0Sf6j9/lgYB3Vv3R6Kq2YWMRA3fH8D4XSXp6e0CUaC+zd9Z+PN7CBiWfqGSi7dYMmop3ngYH1Ov2MjENJ2vtbqT/S9C4wdEk82iOCb7Uv2W+cPmJ0IEPXznq+s2+1Bg+9nEmAger6ny3bp2nPwTkiqEdkwNDxoWn5JFXdI+4vF/+aQFg3kA4Ceee97w86QhgNgiif2PwB/4mOXxQI1w0YKKN2+b0P1gmb3riB4KtWjqzpLwLCpxgJgO9XFo26fvNvJ5B869+nk8KlxD/UDp9/+fTlOYAvJ0jR74esBqJf4L1pN3u2Vy6x2lcTw6a0qH51oDZMEAcnJMi5p+cSNr1pq6HFNw+BM5C/LrAyMHuOyoMe97yo3xdR68qHkKTE21c1/JOexxkHGOno2rYBmqpELg/e34/p1w08aEcP9VIn9+pj/HDgr6afFgLQ/kDbbO8WBrV/h25AT7J37lVGi8SvB6N+1LYskFUd1f2C7/pIDQmXtNdm8Dxbtcy3E6VMPZAXen8AcqnaazY619BXXr4Pw7MoerLU1jddvy+t/WDQifs9aIHC79iqbTZPFcO4K7rS2OzWtW1fLqh4NMsoqz3q1wT6Zqqg9Ktqs9G9uDP3nzCkfnPgJB7VOr2bmX86YENr2j2QpLQtzH17V74/1rV/+lbku9HTevcUVjw4DIyHHc8IA0Sl3yA9O/Wk9nscHgMRBYJuOw01NoiWezVhTlQap31HIP2UsO55nRjs70hwIoMwKR50U9LQBT4VPUnQL4+FJKV67z9DYp7HpinS9bp+2WzZyY3rDya7/EQk87YtJimJyQ9uvoMAyMDDwbGjWomYzf2kTJxjmgZhwYu2IJzy1WqreavQPzwyWhCAMFZwHetXnQbRoxFJLds9JDHqBCtTH/pFFzb+Ppye++aUmJTRPHQS3BKq3p71mUSNeTjx9KTQ8UVbYqeoA9A+PEX10XSAXkdHf7YdJy0D7iHi/nbZJMLQESWqQP799LHZ/uvSG6lnped0rwRDGPXi2u2pXl9EIPWqbfU/8X9rZ2Jx6wpVakCSxvH1BUaYnhGTUhXheh2j8vsmMyNtjOq+/WEv9BMAX7p2T2yqaK66aXVbHy4VmrKT0ZR6XkfPuy2bSc8Shm2/m2wnKg3ig546pkj8fTaj2dZG2xlcyvUhPnrb6UIT9NxzPPkGP43ytWk7cO4/yW4N1zz8fKrRP+auY++4PXGb6A+EP8uX//2j65oQl9u97smEhvgSYOOTK5P+GGanb17/z/nJ5VetTmvaivL16+XVu+d/u/0OvCmW3WieTnKILwCqKzeCJDVHIOIlOJ1W2+1+7DiO0/nYbbuNRqNHO/WgXbGd/psy98dKfwPQ455HrYblNOQktel3X8n/e0V68q9NYVn0f1YPKMbYvaZ9TNOGEx6RCoCU/71u9Zq5FEBuNNWWe/t70pOCJqA+HPey7NRoaDTOhiMGthMF4uygS8ekhuaOCGub7g3G35EunAQYWP90oPasfC6ADGQK2279fVn/3bxSFkg36splsyHLVOVlUafXc2+IF/sbC74PjOhBm5u2+d3CbzsH/5zSUOD3FnwKhGgP9dfDtldStcZRAfRO2278fUET2eg39PVBGPX60esucT5lOQAhLIfEsJ3P6Hd088Xw0voXr93M+B9mU7v78Z1GtMgjTRNAOqLp59tvxyYt0DlwsxrIoLQZqvPek/pHRQrAQP/3vNs3rV5ON8BuqFarfX31+4ZN2dCxrpTfn7WFbVUco7qNwSltjHzolf/MICpAQaf/ctwGkBZlmdTtPj/Rqd6YkHNk9wniDZ2ev+72KV1pBioOXS3VS0vZZqPfPhvcImVijpD9GGiX7w+drtsyzY7p+1iWatqmSdiz8+eHk6FX+3t0RnOCfgMOe/V99PXy4t3g+T9nXonZOntz+Pbd58uvlJAIB0n/e8D/A9ZeDwT394NkAAAAAElFTkSuQmCC\" class=\"hello\" width=\"200\" height=\"90\" >\n                </h3>\n            </div>\n            <div class=\"left\">\n                <div class=\"date\">\n                    <h3>\n                        <script>\n                            document.write(new Date().toLocaleDateString()); \n                        </script>\n                    </h3>\n                </div>\n                <div class=\"version\">\n                    <h3>version 1.0</h3>\n                </div>\n            </div>\n        </div>\n        <p style=\"page-break-after: always\"></p>\n        <div class=\"content\">\n            <style>\n                table,\n                th,\n                td {\n                    text-align: center;\n                    border: 1px solid black;\n                }\n            </style>\n            <h2>VERSION HISTORY</h2>\n            <br />\n            <table style=\"width:100%\">\n                <tr>\n                    <th>VERSION</th>\n                    <th>IMPLEMENTED BY</th>\n                    <th>REVISION DATE</th>\n                    <th>REASON</th>\n                </tr>\n                <tr>\n                    <td>1.0</td>\n                    <td>POORNIMA</td>\n                    <td>\n                        <script>\n                            document.write(new Date().toLocaleDateString()); \n                        </script>\n                    </td>\n                    <td>REPORT</td>\n                </tr>\n            </table>\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h2>Table of Contents</h2>\n            <br /><br />\n            <ol>\n                <li>&nbsp;&nbsp;&nbsp;Aim ---------------------------------------------------------------------------   3\n                </li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Summary --------------------------------------------------------------------   3</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Navigation & Visualization -----------------------------------------------   3</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Plant Overview Screen ----------------------------------------------------   3</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Energy Meter Overview ---------------------------------------------------   4</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Inverter Overview ----------------------------------------------------------   4</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;SLD---------------------------------------------------------------------------   5\n                </li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;4MW PV Block -------------------------------------------------------------   5</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;2MW PV Block -------------------------------------------------------------   6</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Reports ----------------------------------------------------------------------   6\n                </li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Trends ------------------------------------------------------------------------   7\n                </li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Weather station --------------------------------------------------------------   7\n                </li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;System View -----------------------------------------------------------------   8</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Inverter Heatmap ------------------------------------------------------------   8</li>\n                <br />\n                <li>&nbsp;&nbsp;&nbsp;Inverter IDC Heatmap ------------------------------------------------------   9</li>\n                <br />\n            </ol>\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>1. Aim</h3>\n            <br />\n            <p>This document gives an overview of iPLON IoT 6.0 SCADA navigation and visualization for 50 MW solar PV\n                power plant.</p>\n            <br />\n            <h3>2. Summary</h3>\n            <br />\n            <p>Overview of all SCADA screens along with Visualization of HMI screens like Inverter Rooms, Control Rooms,\n                and Weather station etc. Visualizing the real time data on all the available screens with HMI interface.\n                The Screens are flexible and it is developed according to the requirement from customer.</p>\n            <br />\n            <h3>3. Navigation & Visualization</h3>\n            <br />\n            <p>Background color for all screens: Black. In the top of Plant Overview Screen, navigation buttons to all\n                the folders like Plant Overview, SLD, PV block, Plant Generation, Trends, Energy meter, Reports, Alarms,\n                Power control, Plant DI & DO and Inverter overview is given. Once click on the folder it will be\n                navigating to the respective dashboards under that folder shown in fig below. Also in the top line,\n                Screen selection, Share Dashboard, Date selection & Refresh for each 1 min are displayed.</p>\n            <br />\n            <h3>4. Plant Overview Screen</h3>\n            <br />\n            <p>Plant Overview screen shows the Installed capacity of the plant, and location. It also shows the current\n                date and time in IST and the performance ratio displayed in the meter. The plant data are shows as total\n                energy generation from the date of commissioning, energy yield today and yesterday with solar radiation,\n                Ambient Temperature & Peak power.\n                <br />\n            Also it shows the plant details in left corner with version. All the parameters are displayed in such a manner that\n                <br />\n            DC instantaneous value  Light Green colour & DC Cumulative value  Dark Green.\n                <br />\n            AC instantaneous value  Light Orange color & AC Cumulative value  Dark Green.\n            </p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.plantoverview}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>5. Energy Meter Overview</h3>\n            <br />\n            <p>Click on the Navigation Energy meter overviewprovided on right top corner of the Home screen. Under\n                this Energy meter readings are displayed. This screen shows the Active Power, EAE, EAE DAY values of all\n                blocks (From B01 to B13) and for Control rooms.</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.em}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <h3>6. Inverter Overview</h3>\n            <br />\n            <p>This screen shows the DC Power(kW), Active power(kW), Reactive Power(kVAR), Energy Day(MWh),Temperature\n                in Deg C & real time PR (%) of each inverter of all blocks (From B01 to B13).</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.inv}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>7. SLD</h3>\n            <br />\n            <p>This screen shows complete plant structure of a Plot. It represents the energy flow from solar PV to\n                Blocks and there to control room and to the feeder. SLD gives the clear picture of the system with\n                energy in each stage</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.sld}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <h3>8. 4MW PV Block</h3>\n            <br />\n            <p>This screen shows the current generation of each Block(B01-B08,B10-B13), Energy export per day and\n                cumulative,Performance ration and capacity utilisation factor.</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.pv4mw}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>9. 2MW PV Block</h3>\n            <br />\n            <p>This screen shows the current generation of Block-09, Energy export per day and cumulative,Performance\n                ration and capacity utilisation factor.</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.pv2mw}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <h3>10. Reports</h3>\n            <br />\n            <p>The Report dashboard has below reports which comprises of 1 min, 15 min, day, monthly & yearly reports\n                and can be extracted as excel.\n                <br />\n            -- Block Per Min Report\n                <br />\n            -- Incomer/Outgoing Feeder MFM Report\n                <br />\n            -- Monthly Report\n                <br />\n            -- WMS One Min Report\n                <br />\n            -- Plant Generation Report\n                <br />\n            -- DGR Report\n            </p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.reports}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>11. Trends</h3>\n            <br />\n            <p>This screen shows the Block wise Inverter parameters like active power, generation & Inverter IGBT\n                temeprature and plant level trends in different dashboards.</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.trends}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <h3>12. Weather Station</h3>\n            <br />\n            <p>This screen shows the Block wise Inverter parameters like active power, generation & Inverter IGBT\n                temperature and plant level trends in different dashboards.</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.ws}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>13. System View</h3>\n            <br />\n            <p>This screen shows all Block wise energy meter PAC (MW) value. To check one of the Block PAC graph for\n                analysis click on the name given in right side.</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.systemview}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <h3>14. Inverter Heatmap</h3>\n            <br />\n            <p>This screen shows the Block wise Active power (kW) of all inverters with solar radiation (W/m2).</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.invheatmap}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n            <p style=\"page-break-after: always\"></p>\n            <br /></br /><br /><br /><br /><br /><br /><br />\n            <h3>15. Inverter IDC Heatmap</h3>\n            <br />\n            <p>This screen shows the Generation (kWh) of each block wise inverter with irradiation (kWh/m2)</p>\n            <br />\n            <div style=\"text-align: center;\">\n                <img src=\"data:image/jpeg;base64,{{{payload.idcheatmap}}}\"width=\"500\" height=\"300\">\n            </div>\n            <br />\n        </div>\n    </div>\n</body>\n</html>",
        "output": "str",
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "d08771bac9b6ad95"
            ]
        ]
    },
    {
        "id": "d51badac4241d99b",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pv2mw",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 600,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "32be4875d0b23ff3",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reports",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 660,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "e8b9196f4d21953c",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "trends",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 720,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "3bb46e2f4549233b",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ws",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 780,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "6620d8e41fc02060",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "systemview",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 840,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "a2c1b0a6c87f3de1",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "invheatmap",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 900,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "51e44881b841a167",
        "type": "file in",
        "z": "ebb2c3a1eb0931d0",
        "name": "idcheatmap",
        "filename": "/home/iplon/grafana-generate-pdf-nodejs-main/output/idcheatmap.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "f19759b69529fdd6"
            ]
        ]
    },
    {
        "id": "f19759b69529fdd6",
        "type": "base64",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 600,
        "y": 960,
        "wires": [
            [
                "0bf52db3c83d2de9"
            ]
        ]
    },
    {
        "id": "a5ec2fa6699ab191",
        "type": "exec",
        "z": "ebb2c3a1eb0931d0",
        "command": "cd /home/iplon/grafana-generate-pdf-nodejs-main/ && node grafana_screenshot.js \"http://ivpn.iplon.co.in:3880/d/mVS5LLvVk/11-inverter-idc-heatmap?orgId=123\" Iyyermalai:Iyyermalai1@ output/idcheatmap.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "idc heatmap",
        "x": 250,
        "y": 980,
        "wires": [
            [
                "51e44881b841a167"
            ],
            [],
            []
        ]
    },
    {
        "id": "0bf52db3c83d2de9",
        "type": "change",
        "z": "ebb2c3a1eb0931d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "idcheatmap",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 960,
        "wires": [
            [
                "c1a165702cd9ed30"
            ]
        ]
    },
    {
        "id": "0d0d3a1497f5f6d7",
        "type": "function",
        "z": "ebb2c3a1eb0931d0",
        "name": "merge",
        "func": "const merger = new pdfMergerJs();\n\n(async () => {\n    await merger.add('/home/iplon/grafana-generate-pdf-nodejs-main/output/Frontpage.pdf');  //merge all pages. parameter is the path to file and filename.\n    await merger.add('/home/iplon/grafana-generate-pdf-nodejs-main/output/iyyermalai.pdf');\n\n    await merger.save('/home/iplon/grafana-generate-pdf-nodejs-main/output/merged.pdf'); //save under given name and reset the internal document\n})();\nreturn msg\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "pdfMergerJs",
                "module": "pdf-merger-js"
            },
            {
                "var": "pdfLib",
                "module": "pdf-lib"
            },
            {
                "var": "path",
                "module": "path"
            }
        ],
        "x": 750,
        "y": 200,
        "wires": [
            [
                "c384bf16220f45f0"
            ]
        ]
    }
]
